* {
  position: 0;
  padding: 0;
}

.layer {
  position: absolute;
  background-color: transparent;
  left: 0;
  top: 0;
}

#msgBox {
  background-color: rgba(255,255,255,0.5);
  color: black;
  font-size: 11px;
  padding: 5px;
  width: 150px;
  height: 20px;
  left: 10px;
  top: 10px;
}

.clearBoth {
  clear: both;
  height: 410;
}